//todo: рефактор классов и фиксированную ширину

.logo {
  $self: &;

  display: flex;
  align-items: center;
  @media (max-width: 680px) {
    z-index: 2;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  &--footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }

  &:hover {
    &:after {
      opacity: 1;
    }

    #{$self}__text {
      text-shadow: 2px 2px 15px rgba(#6ec1e5, 0.7);
    }

    #{$self}__img {
      &::after {
        opacity: 1;
      }
    }
  }

  &__text {
    font-size: 24px;
    font-family: "FarCryCyr", sans-serif;
    color: rgb(0, 7, 46);
    line-height: 1;
    background: linear-gradient(
      180deg,
      var(--color-yellow2) 0%,
      var(--color-logo-gradient)
    );
    transition: 0.3s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 430px) {
      font-size: 20px;
    }
  }
  &__img-wrapper {
    @media (max-width: 430px) {
      max-width: 100px;
    }
  }
  &__image {
    &--footer {
      width: 188px;
    }
  }

  // &__img {
  //   position: relative;

  //   &:after {
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     top: 0;
  //     bottom: 0;
  //     margin: 0;
  //     z-index: -1;
  //     display: block;
  //     border-radius: 50%;
  //     width: 25px;
  //     height: 25px;
  //     box-shadow: 2px 2px 15px rgba(#6ec1e5, 0.7);
  //     // opacity: 0;
  //     transition: 0.3s;
  //   }
  // }
}
